---
title: Page not found
published: true
---
{% extends index %}

{% block main %}
.container
  .jumbotron
    {% editable_text jumbotron, rows: 5, priority: 1 %}
    %h1.text-danger Упс! 404
    {% endeditable_text %}
{% endblock %}
