---
title: Home page
published: true
handle: home
---

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "{{ site.meta_keywords }} {{ page.meta_keywords }}", :name => "keywords"}
            {% if page.meta_description %}
            %meta{:content => "{{ page.meta_description }}", :name => "description"}
              {% else %}
              %meta{:content => "{{ site.meta_description }}", :name => "description"}
                {% endif %}
                %title
                  {{ page.title }} - {{ site.name }} |
                  {% if page.seo_title %}
                  {{ page.seo_title }}
                  {% else %}
                  {{ site.seo_title }}
                  {% endif %}
                {{ 'bootstrap.css' | stylesheet_tag }}
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

.container
  / Site Title
  .row
    .col-md-10.col-md-offset-1.col-sm-12
      %h1 {{ site.name }}
  / Site Navigation
  .row
    .col-md-10.col-md-offset-1.col-sm-12
      %nav.navbar.navbar-default{:role => "navigation"}
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        / Collect the nav links, forms, and other content for toggling
        #main-nav.collapse.navbar-collapse
          %ul.nav.navbar-nav
            {% if page.slug == "index" %}
            %li.active
              {% else %}
              %li
                {% endif %}
                %a{:href => "/"} Home
                {% nav "site", no_wrapper: true, active_class: "active" %}
  / Page Content
  .row
    .col-md-10.col-md-offset-1.col-sm-12
      %h2 {{ page.title }}
      {% block main %}
      Coming Soon.
      {% endblock %}
/ Javascripts
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js", :type => "text/javascript"}
{{ 'bootstrap.min.js' | javascript_tag }}
